MissionaryAirlines/02.Sources/02.BW/fr.missionaryairlines.api.web/Schemas/StripeObjectsDefinition.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.jdata.fr/schemas/StripeObjectsDefinition" elementFormDefault="qualified" targetNamespace="http://www.jdata.fr/schemas/StripeObjectsDefinition">
	
	<element name="PaymentMethod" type="tns:PaymentMethodType"/>
	<element name="Customer" type="tns:CustomerType"/>
	<element name="ListOfCustomers">
		<complexType>
			<sequence>
				<element name="object" type="string" minOccurs="0"/>
				<element name="url" type="string" minOccurs="0"/>
				<element name="has_more" type="string" minOccurs="0"/>
				<element name="data" type="tns:CustomerType" maxOccurs="unbounded" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	
	<complexType name="AddressType">
		<sequence>
			<element name="city" type="string" minOccurs="0"/>
			<element name="country" type="string" minOccurs="0"/>
			<element name="line1" type="string" minOccurs="0"/>
			<element name="line2" type="string" minOccurs="0"/>
			<element name="postal_code" type="string" minOccurs="0"/>
			<element name="state" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="PaymentMethodType">
		<sequence>
			<element name="id" type="string" minOccurs="0"/>
			<element name="object" type="string" minOccurs="0"/>
			<element name="billing_details" minOccurs="0">
				<complexType>
					<sequence>
						<element name="address" type="tns:AddressType" minOccurs="0"/>
						<element name="email" type="string" minOccurs="0"/>
						<element name="name" type="string" minOccurs="0"/>
						<element name="phone" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="card" minOccurs="0">
				<complexType>
					<sequence>
						<element name="brand" type="string" minOccurs="0"/>
						<element name="checks" minOccurs="0">
							<complexType>
								<sequence>
									<element name="address_line1_check" type="string" minOccurs="0"/>
									<element name="address_postal_code_check" type="string" minOccurs="0"/>
									<element name="cvc_check" type="string" minOccurs="0"/>
								</sequence>
							</complexType>
						</element>					
						<element name="country" type="string" minOccurs="0"/>
						<element name="exp_month" type="int" minOccurs="0"/>
						<element name="exp_year" type="int" minOccurs="0"/>
						<element name="fingerprint" type="string" minOccurs="0"/>
						<element name="funding" type="string" minOccurs="0"/>
						<element name="generated_from" type="string" minOccurs="0"/>
						<element name="last4" type="string" minOccurs="0"/>
						<element name="three_d_secure_usage" minOccurs="0">
							<complexType>
								<sequence>
									<element name="supported" type="boolean" minOccurs="0"/>
								</sequence>
							</complexType>
						</element>
						<element name="wallet" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="created" type="int" minOccurs="0"/>
			<element name="customer" type="string" minOccurs="0"/>
			<element name="livemode" type="boolean" minOccurs="0"/>
			<element name="metadata" minOccurs="0">
				<complexType>
					<sequence>
						<element name="order_id" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="type" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="CustomerType">
		<sequence>
			<element name="id" type="string" minOccurs="0"/>
			<element name="object" type="string" minOccurs="0"/>
			<element name="address" type="tns:AddressType" minOccurs="0"/>
			<element name="balance" type="int" minOccurs="0"/>
			<element name="created" type="int" minOccurs="0"/>
			<element name="currency" type="string" minOccurs="0"/>
			<element name="default_source" type="string" minOccurs="0"/>
			<element name="delinquent" type="boolean" minOccurs="0"/>
			<element name="description" type="string" minOccurs="0"/>
			<element name="discount" type="string" minOccurs="0"/>
			<element name="email" type="string" minOccurs="0"/>
			<element name="invoice_prefix" type="string" minOccurs="0"/>
			<element name="invoice_settings" minOccurs="0">
				<complexType>
					<sequence>
						<element name="custom_fields" type="string" minOccurs="0"/>
						<element name="default_payment_method" type="string" minOccurs="0"/>
						<element name="footer" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="livemode" type="boolean" minOccurs="0"/>
			<element name="metadata" minOccurs="0">
				<complexType>
					<sequence>
						<element name="order_id" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="name" type="string" minOccurs="0"/>
			<element name="next_invoice_sequence" type="int" minOccurs="0"/>
			<element name="phone" type="string" minOccurs="0"/>
			<element name="preferred_locales" minOccurs="0" maxOccurs="unbounded">
				<complexType>
					<sequence>
						<element name="preferred_locales" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="shipping" minOccurs="0">
				<complexType>
					<sequence>
						<element name="address" type="tns:AddressType" minOccurs="0"/>
						<element name="name" type="string" minOccurs="0"/>
						<element name="phone" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="sources" minOccurs="0">
				<complexType>
					<sequence>
						<element name="object" type="string" minOccurs="0"/>
						<element name="data" type="tns:SourceType" minOccurs="0" maxOccurs="unbounded"/>
						<element name="has_more" type="string" minOccurs="0"/>
						<element name="url" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="subscriptions" minOccurs="0">
				<complexType>
					<sequence>
						<element name="object" type="string" minOccurs="0"/>
						<element name="data" type="tns:SubscriptionType" minOccurs="0" maxOccurs="unbounded"/>
						<element name="has_more" type="string" minOccurs="0"/>
						<element name="url" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="tax_exempt" type="string" minOccurs="0"/>
			<element name="tax_ids" minOccurs="0">
				<complexType>
					<sequence>
						<element name="object" type="string" minOccurs="0"/>
						<element name="data" type="tns:TaxIdType" minOccurs="0" maxOccurs="unbounded"/>
						<element name="has_more" type="string" minOccurs="0"/>
						<element name="url" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="SourceType">
		<sequence>
			<element name="id" type="string" minOccurs="0"/>
			<element name="object" type="string" minOccurs="0"/>
			<element name="ach_credit_transfer" minOccurs="0">
				<complexType>
					<sequence>
						<element name="account_number" type="string" minOccurs="0"/>
						<element name="routing_number" type="string" minOccurs="0"/>
						<element name="fingerprint" type="string" minOccurs="0"/>
						<element name="bank_name" type="string" minOccurs="0"/>
						<element name="swift_code" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="amount" type="string" minOccurs="0"/>
			<element name="client_secret" type="string" minOccurs="0"/>
			<element name="created" type="int" minOccurs="0"/>
			<element name="currency" type="string" minOccurs="0"/>
			<element name="flow" type="string" minOccurs="0"/>
			<element name="livemode" type="boolean" minOccurs="0"/>
			<element name="metadata" minOccurs="0">
				<complexType>
					<sequence>
						<element name="order_id" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="owner" minOccurs="0">
				<complexType>
					<sequence>
						<element name="address" type="tns:AddressType" minOccurs="0"/>
						<element name="email" type="string" minOccurs="0"/>
						<element name="name" type="string" minOccurs="0"/>
						<element name="phone" type="string" minOccurs="0"/>
						<element name="verified_address" type="string" minOccurs="0"/>
						<element name="verified_email" type="string" minOccurs="0"/>
						<element name="verified_name" type="string" minOccurs="0"/>
						<element name="verified_phone" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="receiver" minOccurs="0">
				<complexType>
					<sequence>
						<element name="address" type="tns:AddressType" minOccurs="0"/>
						<element name="amount_charged" type="int" minOccurs="0"/>
						<element name="amount_received" type="int" minOccurs="0"/>
						<element name="amount_returned" type="int" minOccurs="0"/>
						<element name="refund_attributes_method" type="string" minOccurs="0"/>
						<element name="refund_attributes_status" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="statement_descriptor" type="string" minOccurs="0"/>
			<element name="status" type="string" minOccurs="0"/>
			<element name="type" type="string" minOccurs="0"/>
			<element name="usage" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="TaxIdType">
		<sequence>
			<element name="id" type="string" minOccurs="0"/>
			<element name="object" type="string" minOccurs="0"/>
			<element name="country" type="string" minOccurs="0"/>
			<element name="created" type="int" minOccurs="0"/>
			<element name="customer" type="string" minOccurs="0"/>
			<element name="livemode" type="boolean" minOccurs="0"/>
			<element name="type" type="string" minOccurs="0"/>
			<element name="value" type="string" minOccurs="0"/>
			<element name="verification" minOccurs="0">
				<complexType>
					<sequence>
						<element name="status" type="string" minOccurs="0"/>
						<element name="verified_address" type="string" minOccurs="0"/>
						<element name="verified_name" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="SubscriptionType">
		<sequence>
			<element name="id" type="string" minOccurs="0"/>
			<element name="object" type="string" minOccurs="0"/>
			<element name="application_fee_percent" type="string" minOccurs="0"/>
			<element name="billing_cycle_anchor" type="int" minOccurs="0"/>
			<element name="billing_thresholds" type="string" minOccurs="0"/>
			<element name="cancel_at" type="string" minOccurs="0"/>
			<element name="cancel_at_period_end" type="boolean" minOccurs="0"/>
			<element name="canceled_at" type="int" minOccurs="0"/>
			<element name="collection_method" type="string" minOccurs="0"/>
			<element name="created" type="int" minOccurs="0"/>
			<element name="current_period_end" type="int" minOccurs="0"/>
			<element name="current_period_start" type="int" minOccurs="0"/>
			<element name="customer" type="string" minOccurs="0"/>
			<element name="days_until_due" type="int" minOccurs="0"/>
			<element name="default_payment_method" type="string" minOccurs="0"/>
			<element name="default_source" type="string" minOccurs="0"/>
			<element name="default_tax_rates" type="tns:TaxRateType" minOccurs="0" maxOccurs="unbounded" />
			<element name="discount" type="string" minOccurs="0"/>
			<element name="ended_at" type="int" minOccurs="0"/>
			<element name="items" minOccurs="0">
				<complexType>
					<sequence>
						<element name="object" type="string" minOccurs="0"/>
						<element name="data" type="tns:SubscriptionItemType" minOccurs="0" maxOccurs="unbounded"/>
						<element name="has_more" type="string" minOccurs="0"/>
						<element name="url" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="latest_invoice" type="string" minOccurs="0"/>
			<element name="livemode" type="boolean" minOccurs="0"/>
			<element name="metadata" minOccurs="0">
				<complexType>
					<sequence>
						<element name="order_id" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="next_pending_invoice_item_invoice" type="string" minOccurs="0"/>
			<element name="pause_collection" type="string" minOccurs="0"/>
			<element name="pending_invoice_item_interval" type="string" minOccurs="0"/>
			<element name="pending_setup_intent" type="string" minOccurs="0"/>
			<element name="pending_update" type="string" minOccurs="0"/>
			<element name="plan" type="tns:PlanType" minOccurs="0" />
			<element name="quantity" type="int" minOccurs="0"/>
			<element name="schedule" type="string" minOccurs="0"/>
			<element name="start_date" type="int" minOccurs="0"/>
			<element name="status" type="string" minOccurs="0"/>
			<element name="tax_percent" type="string" minOccurs="0"/>
			<element name="trial_end" type="string" minOccurs="0"/>
			<element name="trial_start" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="PlanType">
		<sequence>
			<element name="id" type="string" minOccurs="0"/>
			<element name="object" type="string" minOccurs="0"/>
			<element name="active" type="boolean" minOccurs="0"/>
			<element name="aggregate_usage" type="string" minOccurs="0"/>
			<element name="amount" type="int" minOccurs="0"/>
			<element name="amount_decimal" type="int" minOccurs="0"/>
			<element name="billing_scheme" type="string" minOccurs="0"/>
			<element name="created" type="int" minOccurs="0"/>
			<element name="currency" type="string" minOccurs="0"/>
			<element name="interval" type="string" minOccurs="0"/>
			<element name="interval_count" type="int" minOccurs="0"/>
			<element name="livemode" type="boolean" minOccurs="0"/>
			<element name="metadata" minOccurs="0">
				<complexType>
					<sequence>
						<element name="order_id" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="nickname" type="string" minOccurs="0"/>
			<element name="product" type="string" minOccurs="0"/>
			<element name="tiers" type="string" minOccurs="0"/>
			<element name="tiers_mode" type="string" minOccurs="0"/>
			<element name="transform_usage" type="string" minOccurs="0"/>
			<element name="trial_period_days" type="string" minOccurs="0"/>
			<element name="usage_type" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
	
	<complexType name="SubscriptionItemType">
		<sequence>
			<element name="id" type="string" minOccurs="0"/>
			<element name="object" type="string" minOccurs="0"/>
			<element name="billing_thresholds" type="string" minOccurs="0"/>
			<element name="created" type="int" minOccurs="0"/>
			<element name="metadata" minOccurs="0">
				<complexType>
					<sequence>
						<element name="order_id" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="plan" type="tns:PlanType" minOccurs="0" />
			<element name="quantity" type="int" minOccurs="0"/>
			<element name="subscription" type="string" minOccurs="0"/>
			<element name="tax_rates" type="tns:TaxRateType" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
	</complexType>
	
	<complexType name="TaxRateType">
		<sequence>
			<element name="id" type="string" minOccurs="0"/>
			<element name="object" type="string" minOccurs="0"/>
			<element name="active" type="boolean" minOccurs="0"/>
			<element name="created" type="int" minOccurs="0"/>
			<element name="description" type="string" minOccurs="0"/>
			<element name="display_name" type="string" minOccurs="0"/>
			<element name="inclusive" type="boolean" minOccurs="0"/>
			<element name="jurisdiction" type="string" minOccurs="0"/>
			<element name="livemode" type="boolean" minOccurs="0"/>
			<element name="metadata" minOccurs="0">
				<complexType>
					<sequence>
						<element name="order_id" type="string" minOccurs="0"/>
					</sequence>
				</complexType>
			</element>
			<element name="percentage" type="float" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
